{% extends 'base.html.twig' %}

{% block title %}New BasePose{% endblock %}

{% block body %}
    <h1>Create new BasePose</h1>

    {{ include('base_pose/_form.html.twig') }}

    <a href="{{ path('app_base_pose_index') }}">back to list</a>
{% endblock %}
