<form method="post" action="{{ path('app_member_pose_delete', {'id': member_pose.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member_pose.id) }}">
    <button class="btn">Delete</button>
</form>
