<p> </p>
<p> </p>
<hr class="hr1">
<a href="{{ path('app_user_delete') }}">Delete Account</a>　
<a href="{{ path('app_logout') }}">Logout</a>　
<a href="{{ path('app_login') }}">Login</a>
<p>©2022 YogaNote</p>